.jumbotron {
  background-color: white;
  text-align: center;
}

.title {
  font-family: garamond;
}

.stage {
  -webkit-perspective: 1000;
}

/*Row 2*/
.flashcard1, .flashcard2, .flashcard3, .flashcard4 {
  height: 285px;
  width: 280px;
  border: 2px solid gray;
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

/*Row 3*/
.flashcard5, .flashcard6, .flashcard7, .flashcard8 {
  height: 285px;
  width: 280px;
  border: 2px solid gray;
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

/*Row 4*/
.flashcard9, .flashcard10, .flashcard11, .flashcard12 {
  height: 285px;
  width: 280px;
  border: 2px solid gray;
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

/*Row 5*/
.flashcard13, .flashcard14, .flashcard15, .flashcard16 {
  height: 285px;
  width: 280px;
  border: 2px solid gray;
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.flashcard17, .flashcard18, .flashcard19, .flashcard20 {
  height: 285px;
  width: 280px;
  border: 2px solid gray;
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.front, .back {
  height: 285px;
  width: 280px;
  position: absolute;
  text-align: center;
  -webkit-backface-visibility: hidden;
}

.back, .flipped {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.front, .name {
margin-top: 40%;
font-size: 2em;
}

.back, .definition {
  margin-top: 25%;
  font-size: 1em;
}
